/* Write your CSS here */
.button {
  background-color: #382f5a;
  height: 50px;
  width: 150px;
  font-family: 'Roboto';
  font-size: 30px;
  border-color: #c4c4c4;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  margin: 10px;
}
.li-container {
  list-style-type: none;
}
